<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bionx.res"
    android:versionCode="36"
    android:versionName="3.3.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Bionx Dashboard"
        android:theme="@android:style/Theme.Holo">
        <activity android:label="@string/app_name" android:name=".activity.SplashActivity" android:clearTaskOnLaunch="true" android:launchMode="standard" android:screenOrientation="portrait" android:alwaysRetainTaskState="false" android:noHistory="true" android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/HoloBackgroundTheme" android:label="Bionx" android:name=".ui.MainDashboard" android:launchMode="standard" android:screenOrientation="portrait" android:showOnLockScreen="true"/>
        <activity android:label="@string/app_name" android:name=".activity.EditPreferences" android:screenOrientation="portrait" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="Build.prop Editor" android:name=".activity.BuildPropEditor" android:screenOrientation="portrait" android:theme="@style/HoloBackgroundTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="Build.prop Editor" android:name=".activity.EditPropActivity" android:theme="@style/HoloBackgroundTheme" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.StatsActivity" android:label="CPU Stats" android:screenOrientation="portrait"/>
        <activity android:name=".activity.PreferencesActivity" android:theme="@style/HoloBackgroundTheme"/>
        <service android:name=".service.BootService" />
        <service android:name=".service.ShutdownService" />
        <receiver android:name=".recievers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <activity android:name=".activity.CPUMain" android:label="Central Processing Unit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Commands" android:label="Bionx Parts" android:theme="@style/HoloBackgroundTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.Catalyst" android:label="Catalyst" android:icon="@drawable/ic_settings_about" android:theme="@style/HoloBackgroundTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ProcessList" android:permission="android.permission.RESTART_PACKAGES" android:label="Nx Tasker" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".background.Settings" android:theme="@style/HoloBackgroundTheme" android:screenOrientation="portrait" android:label="Files Preferences"></activity>
        <activity android:name=".background.WirelessManager" android:label="Wireless Manager" android:theme="@android:style/Theme.Holo" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ApplicationBackup" android:label="Apps" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.Files" android:screenOrientation="portrait" android:label="Files">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
            	<action android:name="android.intent.action.GET_CONTENT" />
            	<data android:mimeType="*/*" />
            </intent-filter>
        </activity>.service.ShutdownServiceutdownServiceutdownServicePU.service.ShutdownService"/>
        <activity android:name=".background.AudioPlayblack"
	    		  android:label="@string/media_dialog"
	    		  android:theme="@android:style/Theme.Dialog" />
	    
	    <activity android:name=".background.DirectoryInfo" android:enabled="true"
	    		  android:label="@string/dir_info">
	    	<intent-filter>
	    		<action android:name="android.intent.action.VIEW" />
	    		<data android:mimeType="application/manager" />
	    		<category android:name="android.intent.category.DEFAULT" />
	    	</intent-filter>
	    </activity>
        <activity android:name=".activity.QuickSettings" android:label="Quick Settings" android:icon="@drawable/ic_icon" android:screenOrientation="portrait" android:theme="@style/HoloBackgroundTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.BionxTabs" android:label="Bionx Menu" android:screenOrientation="portrait" android:theme="@style/HoloBackgroundTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.AdvancezRAM" android:label="zRAM Configuration" android:screenOrientation="portrait" android:theme="@style/HoloBackgroundTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.BatteryCalibrationActivity" android:theme="@style/HoloBackgroundTheme" android:screenOrientation="portrait" android:label="Battery Optimizer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.AndroidIDToolActivity" android:theme="@style/HoloBackgroundTheme" android:screenOrientation="portrait" android:label="Android ID Tool">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.DashMainActivity" android:label="Dashboard" android:screenOrientation="portrait" android:theme="@style/HoloBackgroundTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.GetStarted" android:label="Get Started">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.VoltageControl" android:label="Voltage Control">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.PowerMenu" android:label="Power Menu" android:theme="@style/HoloBackgroundTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ZRAMconfigActivity" android:theme="@style/HoloBackgroundTheme" android:label="zRAM Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.BionxWebView" android:label="Headlines">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".wallpaper.WallpaperActivity" android:label="Wallpapers" android:theme="@style/HoloBackgroundTheme" android:launchMode="standard" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".wallpaper.Preview" android:configChanges="orientation|screenSize"></activity>
        <activity android:name="com.bionx.res.about.License" android:label="All Rights Reserved">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".about.InfoCenter" android:label="Info Center" android:theme="@style/HoloBackgroundTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".about.DashChangelog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".catalyst.KexecMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
